@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/Proxima Nova Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {

  --color-primary-brand: #3AA39F;
  --color-secondary-brand: #17183B;
  --color-cool-grey: #A2A3B1;

  --font-cambay: 'Cambay', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-proxima: 'Proxima-Nova', sans-serif;
}